
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{cowboy, "", {git, "git://github.com/extend/cowboy.git", "master"}}
       ,{ranch, "", {git, "git://github.com/extend/ranch.git", "master"}}
       ,{jsonpath, "", {git, "https://github.com/GeneStevens/jsonpath.git", "master"}}
       ,{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
       ]}.
